.height-sm {
  height: 50px;
}
.height-md {
  height: 100px;
}
.height-lg {
  height: 150px;
}
body {
  /* background: #D99B29 ; */
}
#caravan:hover, #animais:hover, #flexblog:hover{
  box-shadow: 0 0 0 5px #F2BE22;
  /* border: 2px solid black; */
  /* outline: 1px solid black; */
  
}
#caravan, #animais, #flexblog{
  transition: .5s;
  
}
a{
  text-decoration: none;
}